name: OpenAPI-Validator

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  tests:
    name: OpenAPI Validator Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Run tests
        run: |
          mvn clean verify
  release:
    if: github.event.release.tag_name
    name: Release OpenAPI Validator
    runs-on: ubuntu-latest
    needs: test-api
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          server-id: github
      - name: Configure Git user
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
      - name: Release prepare
        run: |
          git status
          mvn -B release:prepare
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: List current directory
        run: |
          ls -la
      - name: Release perform
        run: |
          mvn -B release:perform
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}